.contact-item {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .contact-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.contact-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-contact {
  padding-left: 20px;
  align-self: center;

  width: 32px;
  height: 32px;

  background-color: transparent;
  background-image: url('../icons/cancel.svg');
  background-size: 100% 100%;

  border: none;
  color: #000;
  font-size: 0;
  vertical-align: middle;

  cursor: pointer;
  outline: none;
}
